@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
}

.background {
  background: #f7fafd;
}

.background .container {
  max-width: 1440px;
  margin: auto;
}

.background .container .content {
  background: white;
  border-radius: 15px;
  padding: 2rem;
}

.background .container .content .upper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem;
}

.background .container .content .upper-content .notif span:first-of-type {
  font-weight: 800;
  font-size: 2rem;
}

.background .container .content .upper-content .notif span:last-of-type {
  background: #0a317b;
  padding: .4rem .8rem;
  color: white;
  margin-left: 1rem;
  border-radius: 10px;
}

.background .container .content .upper-content .read a p {
  font-size: 1.2rem;
  color: #5e6778;
}

.background .container .content .upper-content .read button {
  background: none;
  color: #5e6778;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.background .container .content .selected .selected-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  background: #f7fafd;
  padding: 1.7rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.background .container .content .selected .selected-tab .inactive {
  background: none;
}

.background .container .content .selected .selected-tab img {
  width: 50px;
}

.background .container .content .selected .selected-tab .selected-text p {
  font-weight: 500;
  color: #5e6778;
}

.background .container .content .selected .selected-tab .selected-text p::after {
  content: '';
  position: absolute;
  background: #f65351;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 7px;
}

.background .container .content .selected .selected-tab .selected-text p .tournament {
  color: #5e6778;
  font-weight: 800;
}

.background .container .content .selected .selected-tab .selected-text p .chess {
  font-weight: 800;
  color: #0a317b;
}

.background .container .content .selected .selected-tab .selected-text .minutes {
  color: #939dae;
  font-weight: 500;
}

.background .container .content .selected .deselected {
  background: none;
}

.background .container .content .unselected-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1.7rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.background .container .content .unselected-tab img {
  width: 50px;
}

.background .container .content .unselected-tab .unselected-text p {
  font-weight: 500;
  color: #5e6778;
}

.background .container .content .unselected-tab .unselected-text .minutes-riszky {
  color: #939dae;
  font-weight: 500;
}

.background .container .response p {
  width: 70%;
  margin-left: 6rem;
  border: 1px solid #e5effa;
  border-radius: 8px;
  padding: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #5e6778;
}

.background .container .unselected {
  padding-top: 3rem;
}
/*# sourceMappingURL=style.css.map */